body
{
    background-image:url(../assets/images/login2.jpg);
/*    height: 100%;*/
    background-color: darkgray;
    background-size: cover;
/*
    background-repeat: no-repeat;
   
*/
}

.head
{
    width:100%;
    text-align: center;
    background-image: url(../assets/images/header-background.jpg);
    height: auto;
/*    background-position: center;*/
    background-size: cover;
    background-repeat: no-repeat;
}

.head img
{
    top:0;
    left:0;
    float:left;
    padding: 20px;
    width: 100px;
    
}
#a, #z
{
    color:crimson;
}
.head h2
{
    float: center;
    font-size: 40px;
    color:darkorange;
	font-family: 'Helvetica Neue';
	font-style: italic;
	font-variant: normal;
	font-weight: bold;

}
.login
{
    
    border-radius: 10px;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 150px;
    padding:20px;
    text-align: center;
    border: 0px;
    color: #fff;
    background: url("../assets/images/login-back.jpg") no-repeat ;
    background-size: cover;
    width: 400px;
    height: auto;
}

.login h1
{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 2.3em;
    text-align: center;
}

#uname,#pwd
{
    margin-top: 25px;
    border: 2px solid #d9d9d9;
    border-width: inherit;
    height: 30px;
    width: 70%;
    color: black;

}
 .login button
{ background-color: cornflowerblue;
  border:0;
    border-radius: 3px;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:100px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}

@media screen and (min-width:550px) and (max-width: 800px)
    {
.head h2
    {
        font-size: 25px;
    }
.head img
        {
            width: 70px;
        }
.login h1
        {
         font-size: 20px;   
        }
.login
        {
            width:40%;
            padding: 10px;
    }
.login button
        {
            padding:5px;
            font-size:10px;
            width:50px;
        }
    }

@media screen and (max-width:550px)
    {
        .head img
        {
            width: 40px;
            padding: 5px;
        }
        .head h2
        {
            font-size: 15px;
        }
        .login h1
        {
         font-size: 15px;
            padding: 0px;
        }
        .login
        {
            margin-left: 20%;
            width:65%;
            padding: 3px;
        }
        .login button
        {
            padding:5px;
            font-size:10px;
            width:50px;
        }
        #uname,#pwd
        {
            width: 90%;
            height: 20px;
            padding: 0px;
        }
    }